{{#each episodesBySeason itemController="season"}}
  <div class="season">
    <h3 {{action "toggleSeason" on="click"}}>Season {{number}}</h3>
    <div {{bind-attr class=":season-episodes isOpen:open"}}>
      {{#each episodes itemController="episode"}}
      {{#if errors}}
      <p class="error">{{errors}}</p>
      {{/if}}
       <li class="episode">
        <div class="episode-meta episode-cell episode-header-votes">
          <div class="episode-vote-count">{{voteCount}}</div>
          <span class="episode-vote-buttons">
            <button class="upvote" {{action "vote" 1}}>Upvote</button>
            <button class="downvote" {{action "vote" -1}}>downvote</button>
          </span>
        </div>
        <div class="episode-body episode-cell">
          <header class="episode-header">
            <div class="episode-header-info">
              <h4>{{name}}</h4>
              <p>Episode {{number}}</p>
            </div>
          </header>
           <p class="episode-desc">{{description}}</p>
        </div>
       </li>
      {{/each}}
    </div>
  </div>
{{/each}}