<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Geddy App | This app uses Geddy.js</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    
    <%- scriptLink('jquery.min.js', {type:'text/javascript'}) %>

    <%- scriptLink('jquery.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('handlebars-1.1.2.js', {type: 'text/javascript'}) %>
    <%- scriptLink('ember-1.7.0.js', {type: 'text/javascript'}) %>
    <%- scriptLink('ember-data-1.0.0-beta.9.js', {type: 'text/javascript'}) %>
<!--     <%- scriptLink('typeahead.js', {type: 'text/javascript'}) %>
    <%- scriptLink('ember-typeahead.js', {type: 'text/javascript'}) %> -->
    <%- scriptLink('app.js', {type: 'text/javascript'}) %>
  

  </head>

